:root {
  --color-primario: #ffb902;
  --color-negro: #222222;
  --color-claro: #fbf4e2;
  --color-amarillo-suave: #f6e7c6;
  --tamano-fuente: 16px;
  --tamano-border-radius: 13px;
}

body {
  margin: 0;
  padding: 0;
}

.contenedor {
  max-width: 1300px;
  margin: 0 auto;
}

/* ------------------------ Fuentes ------------------------ */
.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* ------------------------ Cabecera ------------------------ */
.cabecera {
  height: 60px;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  background-color: var(--color-primario);
  color: white;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 2rem;
  margin-top: 1rem;
}
.cabecera-logo {
}
.cabecera-buscador {
  padding: 0.5rem 1rem;
  background-color: var(--color-negro);
  border-radius: 10rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
}
.cabecera-buscador input {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  color: white;
  width: 100%;
  flex: 1;
}
.cabecera-buscador input:focus {
  border: none;
  outline: none;
}
.cabecera-acciones {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
.cabecera-buscador i {
  color: white;
  flex-shrink: 0;
  font-size: 1.5rem;
}

/* ------------------------ Introduccion ------------------------ */
.intro {
  background-color: var(--color-primario);
  margin-top: 1rem;
  border-radius: 24px;
  color: white;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  min-height: 400px;
  position: relative;
}

.intro-contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  height: 100%;
}

.intro-texto {
  flex: 1;
  max-width: 900px;
  z-index: 2;
  margin: 5rem 0;
}

.intro-titulo {
  font-size: 6rem;
  font-weight: bold;
  color: white;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 1.1;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); */
}

.intro-parrafo {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 32px;
  line-height: 1.6;
  opacity: 0.95;
  text-wrap-style: balance;
}

.intro-boton-accion {
  background-color: var(--color-negro);
  color: white;
  padding: 1rem 3rem;
  border-radius: 12px;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.intro-boton-accion:hover {
  background-color: var(--color-negro);
  transform: scale(1.1);
}

.intro-imagen {
  position: absolute;
  width: 500px;
  bottom: -10px;
  right: 0;
}

.intro-imagen img {
  width: 100%;
}

/* ------------------------ seccion productos ------------------------ */
.seccion-productos {
  margin: 6rem 0;
}
.seccion-productos-contenido {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.seccion-productos-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seccion-productos-titulo h1 {
  font-size: 2.5rem;
}
.seccion-productos-titulo button {
  background-color: var(--color-primario);
  border: none;
  padding: 1rem 2rem;
  color: white;
  border-radius: var(--tamano-border-radius);
  font-size: 1.5rem;
  font-weight: bold;
}
/* ... tarjeta ... */
.tarjeta-producto {
  background-color: var(--color-claro);
  border-radius: 10px;
  margin: 1rem 0;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.tarjeta-producto-contenido {
  padding: 1rem;
  flex: 1;
}
.tarjeta-producto-imagen {
}
.tarjeta-producto-imagen img {
  width: 100%;
}
.tarjeta-producto-titulo {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}
.tarjeta-producto-footer {
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  padding: 0.1rem 1rem;
  border-radius: 12px;
  font-size: 1.5rem;
}
.tarjeta-producto-footer p {
  flex: 1;
}
.tarjeta-producto-footer button {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
  border: none;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tarjeta-producto-footer button:hover {
  background-color: var(--color-negro);
  color: lightgray;
  transform: scale(1.1);
}
.tarjeta-producto-footer button:active {
  transform: translateY(0);
}

/* ------------------------ Footer ------------------------ */
.footer-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
  align-items: start;
  background-color: var(--color-claro);
  border-radius: 1rem;
  padding: 4rem;
  margin-bottom: 1rem;
}
.grupo-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #2c2c2c;
}
.politica-link {
  color: #2c2c2c;
  text-decoration: none;
  font-size: 16px;
  padding: 4px 0;
  transition: color 0.3s ease;
}
.seccion-subscripcion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.caja-subscripcion {
  width: 100%;
  max-width: 300px;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #2c2c2c;
  background: transparent;
  font-size: 16px;
  outline: none;
  color: #2c2c2c;
}
.caja-subscripciont::placeholder {
  color: #999;
}

.caja-subscripcion:focus {
  border-bottom-color: #e6a855;
}

.caja-subscripcion::placeholder {
  color: #999;
}

.caja-check-contenedor {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
}

.caja-check {
  width: 20px;
  height: 20px;
  border: 2px solid #2c2c2c;
  background: transparent;
  cursor: pointer;
  position: relative;
}

.caja-check:checked {
  background-color: #2c2c2c;
}

.caja-check:checked::after {
  content: "✓";
  position: absolute;
  color: white;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caja-check-label {
  font-size: 16px;
  color: #2c2c2c;
  cursor: pointer;
}

.subscribete-boton {
  background-color: var(--color-primario);
  color: white;
  border: none;
  padding: 16px 40px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.subscribete-boton:hover {
  background-color: #f3bf7b;
  transform: translateY(-2px);
}

.subscribete-boton:active {
  transform: translateY(0);
}
/* Responsivo */

@media (max-width: 768px) {
  /* Cabecera */
  .cabecera {
    margin-top: 0.2rem;
  }

  /* Introduccion */
  .intro-contenido {
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
  }

  .intro-titulo {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .intro-texto {
    margin: 1rem 0;
  }

  .intro-parrafo {
    font-size: 1rem;
    margin-bottom: 24px;
  }

  .intro-imagen {
    width: 400px;
    position: relative;
  }

  /* Footer */
  .footer-contenedor {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .seccion-subscripcion {
    align-items: center;
  }

  .caja-check-contenedor {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .intro-contenido {
    padding: 30px 20px;
  }

  .intro-titulo {
    font-size: 2rem;
  }
  /* seccion productos */
  .seccion-productos-contenido{
    justify-content: center;
  }
}
